.admin-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #4A503D;
	color: #FAF2DA;
	padding: 30px 15px;
	font-weight: 900;
	font-size: 23px;
}

.admin-header .left {
	display: flex;
	align-items: center;
}

.admin-header .left h3 {
	font-weight: 900;
	letter-spacing: 1.3px;
	font-size: inherit;
	text-transform: capitalize;
}

.admin-header .left img {
	display: block;
	width: 35px;
	height: 35px;
	margin-right: 15px;
}

.admin-header .right a {
	font-weight: 900;
	letter-spacing: 1.3px;
	font-size: inherit;
	color: #FAF2DA;
	font-size: 18px;
	padding: 11px;
	border-radius: 3px;
}

.admin-header .right a:hover {
	color: #FAF2DA;
	background-color: #8E9775;
}
